<h3>Agregar Personaje</h3>

    <form class="row" (ngSubmit)="emitCharacter()">

      <input
      type="text"
      [(ngModel)]="character.name"
      name="Name"
      class="form-control mb-2"
      placeholder="Nombre">

      <input
      type="number"
      [(ngModel)]="character.power"
      name="Power"
      class="form-control mb-2"
      placeholder="Poder">
                                          <!-- Se debe agregar el name="Power" para que no de error con el nGModel. -->
      <button type="submit" class="btn btn-primary">
        Agregar
      </button>

      <!-- <pre>{{ character | json }}</pre> pipe -->
    </form>
